.active {
  background-color: #578bda;
  border-top-right-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
  /* border-radius: 300px !important; */
  color: white !important;
}

.navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
}
