<section>
  <!-- <div class="container title text-center">
    <h2>Welcome</h2>
    <p>This is the home page of your Angular application.</p>
  </div> -->
  <!-- 
  <h4>hello {{ userName }} and your salary is {{ userSalary }}</h4>
  <img class="w-25" [src]="img" alt="" />
  <button (click)="sayHello()">Say Gogo</button> -->

  <!--   <ul>
    @for (name of frinds; track $index) {
    <li>{{ name }}</li>
    }
  </ul> -->

  <ul>
    @for (name of users ; track $index){
    <li>{{ name }}</li>
    }
  </ul>
</section>
