section {
  /* width: 100%;
  background-color: #121224e2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; */
  /* background-image: url(/imag.jpg); */
  /* background-size: cover;
  background-position: center; */
}
